{% assign certifications = site.data.data.certifications %} {% if certifications %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% for certification in certifications.list %}
  <div class="item">
     {% if certification.link %}
    <div class="cert-title"><li><a href="{{ certification.link }}" target="_blank">{{ certification.title }}</a></li></div>
    {% else %}
      <li>{{ certification.title }}</li>
    {% endif %}
    {% if certification.details %}
    <div class="details">{{ certification.details | markdownify }}</div>
    {% endif %}

    <!--//meta-->
    
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %}
