{% assign extracurs = site.data.data.extracurs %}
{% if extracurs %}
<section class="section extracurs-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-users fa-stack-1x fa-inverse"></i>
    </span>
    {{ extracurs.title }}
  </h2>

  {% if extracurs.intro %}
  <div class="intro">
      <p>{{ extracurs.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for extracur in extracurs.assignments %}
    <div class="item">

      <div class="upper-row">
        <span class="extracur-title">
          {{ extracur.title }}
        </span>
        <div class="time">{{ extracur.time }}</div>
      </div><!--//upper-row-->

      

      {% if extracur.details %}
      <div class="details">
        {{ extracur.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
